.btn {
  width: 100%;
  background-color: none;
  border: 3px solid black;
  aspect-ratio: 1/1;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}

.btn:active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn:inactive {
  opacity: 0.3;
}
